.slides
  background-color: $maincolor
  overflow: hidden
  width: 100%
  position: relative

.swiper-container
  width:  100%
  height: calc(100vh - 84px)

.slider-pic
  img
    object-fit: cover
    width: 100%
    height: calc(100vh - 84px)

.swiper-wrapper
  position: relative

