.slides
  background-color: $maincolor
  overflow: hidden
  width: 100%
  position: relative

  .main-title, .main-subtitle
    position: absolute
    z-index: 3
    font-family: "Yeseva One", sans-serif
    color: $white
    text-align: right

  .main-title
    right: 387px
    bottom: 268px
    @include media("<huge")
      right: 340px
    @include media("<tablet")
      top: 30px
      right: 40px
      max-height: 50px
    &__title
      @include resetmargin
      margin-bottom: 6px
      font-size: 9.6rem
      font-weight: normal
      @include media("<huge")
        font-size: 7.2rem
      @include media("<tablet")
        font-size: 4.8rem
      @include media("<phone")
        font-size: 4.5rem


  .main-subtitle
    position: relative
    right: 0
    bottom: 268px
    @include resetmargin
    font-weight: normal
    font-size: 3.6rem
    line-height: 52px
    @include media("<huge")
      font-size: 3rem
      right: 0
    @include media("<tablet")
      position: absolute
      top: 82px
      right: 0
      width: 100%
      height: 110px
    @include media("<phone")
      font-size: 1.8rem


  .main-subtitle__promotion-link
    text-decoration: none
    right: 387px
    color: $white
    pointer-events: none
    opacity: 0
    transition: opacity $transition/2
    @include media("<huge")
      right: 347px
    @include media("<large")
      font-size: 2.8rem
      height: 200px
      line-height: 38px
      .custom-underline
        text-decoration: underline rgba($white, 0.5)
        max-width: 410px
        display: block
        position: absolute
        right: 0
        &:after
          display: none
      span:nth-of-type(2)
        top: 76px
    @include media("<tablet")
      right: 40px
      height: 150px
      display: flex
      flex-flow: column
      align-items: flex-end
      line-height: 28px
      font-size: 1.9rem
      .custom-underline
        display: none
        //max-width: 300px
        //top: 10px
      span:nth-of-type(2)
        top: 66px
    @include media("<tiny")
      .custom-underline
        max-width: calc(100% - 50px)
    @include media("<phone")
      font-size: 1.6rem
    .mobile-text
      display: none
      @include media("<tablet")
        text-decoration: underline rgba($white, 0.5)
        display: block
        max-width: 400px
        width: calc(100% - 50px)
        position: absolute
        top: 0
        right: 0

    &--activate
      opacity: 1
      pointer-events: all
      transition: opacity $transition 700ms

  .main-cursive
    height: 691px
    width: 150px
    position: absolute
    z-index: 2
    left: 63px
    bottom: 0
    @include media("<large")
      display: none
    &__slide
      width: 205px
    &__slide-text
      @include resetmargin
      position: absolute
      bottom: -170px
      left: 0
      transform: rotate(-90deg)
      transform-origin: top left
      font-size: 13rem
      white-space: nowrap
      color: $maincolor
      font-family: "Northwell", cursive
      @include media("<huge")
        font-size: 12rem


.master-slider
  width: 100%
  height: calc(100vh - 84px)
  transition: opacity .6s ease, -webkit-transform .3s ease
  transition: opacity .6s ease, transform .3s ease
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease
  @include media("<huge")
    height: calc(100vh - 74px)
  @include media("<tablet")
    height: 633px
  .swiper-pagination-bullets
    width: auto
    right: 373px
    bottom: 65px
    left: auto
    @include media("<tablet")
      top: 200px
      right: 40px
    .swiper-pagination-bullet
      background-color: transparent
      opacity: 1
      margin: 0 6px
      position: relative
      height: 26px
      width: 26px
      &:focus
        outline: none
    .swiper-inside-bullet
      position: absolute
      display: block
      width: 8px
      height: 8px
      background-color: $white
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      mix-blend-mode: difference

  .swiper-container
    width:  100%
    height: calc(100vh - 84px)
    @include media("<tablet")
      height: 700px
  .swiper-wrapper
    position: relative
  .slide-zoom
    animation-name: slide-zoom
    animation-duration: 7000ms
    animation-fill-mode: forwards

  .swiper-slide
    overflow: hidden
    filter: brightness(75%)
    transform: scale(1)
    .slide-fig
      margin: 0
      padding: 0
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-position: center
      background-size: cover
      img
        object-fit: cover
        width: 100%
        height: 100%
  .slide-zoom
    animation-name: slide-zoom
    animation-duration: 7000ms
    animation-fill-mode: forwards

@keyframes slide-zoom
  from
    transform: scale(1)
  to
    transform: scale(1.1)

.main-slider-parallax
  width: 100%
  margin: -2px
  height: calc(100vh - 84px)
  transition: opacity .6s ease, -webkit-transform .3s ease
  transition: opacity .6s ease, transform .3s ease
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease
  @include media("<huge")
    height: calc(100vh - 74px)
  .swiper-pagination-bullets
    width: auto
    right: 373px
    bottom: 65px
    left: auto
    .swiper-pagination-bullet
      background-color: transparent
      opacity: 1
      margin: 0 6px
      position: relative
      height: 26px
      width: 26px
      &:focus
        outline: none
    .swiper-inside-bullet
      position: absolute
      display: block
      width: 8px
      height: 8px
      background-color: $white
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      mix-blend-mode: difference

  .swiper-slide
    overflow: hidden
    filter: brightness(75%)
    transform: scale(1)
    .slide-fig
      margin: 0
      padding: 0
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-position: center
      background-size: cover
      img
        object-fit: cover
  .slide-zoom
    animation-name: slide-zoom
    animation-duration: 7000ms
    animation-fill-mode: forwards

@keyframes slide-zoom
  from
    transform: scale(1)
  to
    transform: scale(1.1)


#block-search-main
  position: absolute
  right: 84px
  bottom: 76px
  background: #fff
  border-radius: 5px
  width: 100%
  max-width: 245px
  z-index: 5
  @include media("<huge")
    max-width: 222px
    max-height: 348px
  @include media("<tablet")
    right: 40px
    bottom: 20px

.tl-container
  padding: 0 36px
  @include media("<huge")
    margin-top: -30px
    padding: 0 24px
